<div>
    <div class="row">
        <div class="col-xs-12">
            Email: <a href="mailto:sales@meshedsolutions.com">sales@meshedsolutions.com</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Phone: (904) 385-8134
        </div>
    </div>
</div>
