<div class="center">
    <div class="center-block" style="max-width: 500px">
        If you would like to get more information on how we can help add more value to your
        site, or you have a question you would like to ask, send me an email and I will be
        more than happy to get back to you.
    </div>

    <div style="margin-top: 20px;">
        Email: <a href="mailto:markbrown@meshedsolutions.com">markbrown@meshedsolutions.com</a>
    </div>
</div>
