<div class="text-left">
    <p>
        Are you tired of having to turn down projects because your clients want more than just a pretty website?
    </p>

    <p style="margin-top: 20px">
        Can you build beautiful and well designed websites, but are unable to add the functionality to your sites that give
        your clients more than just a pretty site but a valuable business tool?
    </p>

    <p style="margin-top: 20px">
        Are you really good at designing and building a website but unable to code?
    </p>

    <p style="margin-top: 20px">
        One of the hardest challenges in building modern websites that are useful for a business is the need to have multiple
        specialties. It is really difficult to be a top notch designer and a top notch developer.
    </p>

    <p style="margin-top: 20px">
        That is where we come in. We allow you to focus on what you do best while giving you the peace of mind of having
        a top notch resource to handle all of your backend programming needs.
    </p>

    <p style="margin-top: 20px">
        We specialize in providing development services for designers and developers who do not know how to program or who
        need a reliable team to work with them in making their projects a success.
    </p>
</div>
