<div class="text-left">
    <p>
        We specialize in creating mobile software to support companies with their inventory management
        and logistics needs.
    </p>

    <p style="margin-top: 20px">
        By bringing the existing business functions of your current websites and software to mobile phones and tablets,
        we help reduce the need for paperwork and forms and and enable your mobile workforce to work faster and more
        efficiently.
    </p>

    <p style="margin-top: 20px">
        With the ability to have a real time look at where your drivers are at, what the inventory on their truck is,
        or what routes prove to be most efficient, you finally have the abiltiy to get a detailed and up to the minute look
        at data that you would normally have to wait days and weeks to see.
    </p>

    <p style="margin-top: 20px">
        We don't make shiny new applications that you have to try to get your customers to install and use, but instead
        focus on the software you and your company will use to save time and money.
    </p>
</div>
