<div class="row">
    <div class="col-md-6">
        <div>
            <div style="margin-top: 20px;">
                <div>
                    Companies have been able to add value to<br/>
                    their sites by adding the following:
                </div>

                <div style="margin-top: 20px;">
                    <ul>
                        <li>Add mailing lists</li>
                        <li>Interactive menus</li>
                        <li>Appointment Scheduling</li>
                        <li>Backend/Admin Sections</li>
                        <li>User Management Systems</li>
                        <li>Inventory Tracking and Management</li>
                        <li>Reporting</li>
                        <li>Data Entry Systems</li>
                        <li>Workflow Management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="center" style="margin-bottom: 0px;">Latest Testimonial</div>
        <div class="well" style="margin-top: 20px;">
            <div>
                When we look for development talent to augment our team, we are not just
                looking for coding capabilities - that is easy to find. We are looking for
                thinkers, problem solvers, people who understand our broader vision and
                will shoulder the load to help us reach our goal. We are interested in aligning
                ourselves with partners that understand what we are doing and will be there in
                lock step with us along the way. And that is what we have found with Mark Brown
                of Meshed Solutions - a partner that gets us, and gets what we're doing.
            </div>
            <div class="text-left" style="margin-top: 20px;">
                Jason Reitzer<br />
                Managing Director<br />
                CanvasBlu Digital<br />
            </div>
        </div>    
    </div>
</div>


