<div>
    <p>
        I work with companies to get more value out of their websites. 
        Some of the ways I have been able to help my clients out have been 
        adding mailing lists, interactive menus, and appointment scheduling 
        as well as adding an admin section to their website to allow user 
        management, inventory tracking, and reporting.
    </p>
</div>